@model BugHunterBugTrackerZD.Models.Ticket
@using Microsoft.AspNetCore.Identity
@using BugHunterBugTrackerZD.Services.Interfaces

@inject UserManager<BTUser> UserManager
@inject IBTFileService _BTFileService

@{
    ViewData["Title"] = "Details";
}

@{
    BTUser? user = await UserManager.GetUserAsync(User);
}

<style>
    .ck-editor__editable_inline {
        min-height: 200px;
    }

    input.largerCheckbox {
        width: 30px;
        height: 30px;
    }

    label.form-check-label {
        font-size: 22px;
    }
</style>

<h1>Ticket Details</h1>

<div>
    <div class ="container-fluid">
        <div class="row gy-2">
            <div class="col-md-12 col">
                <div class="row col-cols-2 mt-5 bg-primary"> 
                    <div class="card col m-1 p-2">
                        <div class="card-body">
                            @*Title of Ticket*@
                            <h5>@Model.Title</h5>
                            @*Description of Ticket*@
                            <p>[@Model.Description]</p>
                            <div class="progress-container progress-info m-b-25">
                                @*Project Name and information*@
                                <span class="progress-badge" style="font-size:small">Project: [@Model.Project!.Name]</span>
                                <div class="progress">
                                    @*Progress bar logic*@
                                    @*Variable from razor logic*@
                                    @*<div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: [Percent]%;">*@
                                        @*Variable from razor logic*@
                                        <span class="progress-value">[Percent]%</span>
                                    @*</div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col m-1 p-2">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                @*Ticket date*@
                                <li><strong>Date Entered:</strong> <span class="">  [@Model.Created]</</span></li>
                                @*Project end date*@
                                <li><strong>Deadline:</strong> <span class="">  [@Model.Project.EndDate]</</span></li>
                                @*Ticket type*@
                                <li><strong>Type:</strong> <span class="">  [@Model.TicketType!.Name]</span></li>
                                @*Ticket priority*@
                                <li><strong>Priority:</strong> <span class="">  [@Model.TicketPriority!.Name]</span></li>
                                @*Ticket status*@
                                <li><strong>Status:</strong> <span class="">  [@Model.TicketStatus!.Name]</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col col-cols-2 mt-5 ">
                <div class="col">
                    <div class="bg-primary">
                        <div class="card m-1 p-2">
                            <div class="card-header">
                                <h2>Comments</h2>
                            </div>
                            <div class="card-body" style="overflow-y:auto;height:600px;">
                                @*Form and Logic for authorized users to add comments*@
                                
                                @if (User.Identity!.IsAuthenticated && Model.DeveloperUserId == UserManager.GetUserId(User) || Model.SubmitterUserId == UserManager.GetUserId(User) || Model.Project.Members.Contains(user!))
                                {
                                    <form asp-controller="Tickets" asp-action="AddTicketComment" method="post">
                                        <input type="hidden" asp-for="Id" name="TicketId">
                                        <div class="row row-md-10">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="message" class="mb-3">Leave a Reply</label>
                                                    <textarea id="" class="editor" name="Comment"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-submit cerchio">
                                                <input name="submit" type="submit" id="submit" class="axil-button button-rounded" value="Post Comment">
                                            </div>
                                        </div>
                                    </form>                                   
                                }
                                <hr />
                                <h6>Comments</h6>
                                <ul class="right_chat list-unstyled mb-0">
                                    @*Loop to show comments made for the Ticket*@
                                    @foreach (TicketComment comment in Model.Comments)
                                    {
                                        if (User.Identity!.IsAuthenticated)
                                        {
                                            
                                        <!-- Start Single Comment  -->
                                        <li class="comment">
                                            <div class="comment-body">
                                                <div class="single-comment">
                                                    <div class="comment-img">
                                                        @*<img src="@_BTFileService.ConvertByteArrayToFile(comment.Author!.ImageData!,comment.Author.ImageType!,(int)DefaultImage.BlogUserImage)" alt="Author Images" style="height:40px;width:40px">*@
                                                    </div>
                                                   
                                                        @*<a>Anchor</a>*@

                                                    <div class="comment-inner">
                                                        <h6 class="commenter">
                                                            <a class="hover-flip-item-wrapper" href="#">
                                                                <span class="hover-flip-item">
                                                                    <span data-text="@comment.User!.FullName">@comment.User!.FullName</span>
                                                                </span>
                                                            </a>
                                                        </h6>
                                                        <div class="comment-meta">
                                                            <div class="time-spent">@comment.Created.ToString("MMM dd, yyyy at hh:mm tt")</div>
                                                            <div class="reply-edit">
                                                                @*  <div class="reply">
                                                            <a class="comment-reply-link hover-flip-item-wrapper" href="#">
                                                            <span class="hover-flip-item">
                                                            <span data-text="Reply">Reply</span>
                                                            </span>
                                                            </a>
                                                            </div>*@
                                                            </div>
                                                        </div>
                                                        <div class="comment-text">
                                                            <p class="b2">
                                                                @Html.Raw(comment.Comment)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Single Comment  -->
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="bg-primary">
                        <div class="card m-1 p-2">
                            <div class="card-header">
                                <h2>Attachments</h2>
                            </div>
                            <div class="card-body" style="overflow-y:auto;height:300px;">

                                @* Refer to the Ticket Attachments document for this section *@

                                @* Ticket attachments part 1 here *@
                                @if (User.Identity!.IsAuthenticated && Model.DeveloperUserId == UserManager.GetUserId(User) || Model.SubmitterUserId == UserManager.GetUserId(User) || Model.Project.Members.Any(m => m.Id == UserManager.GetUserId(User)))
                                {
                                    <div class="row clearfix">
                                        <div>
                                            <form asp-action="AddTicketAttachment" asp-controller="Tickets" enctype="multipart/form-data" method="post">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <input type="hidden" asp-for="@Model.Id" name="TicketId">
                                                <div class="media-body ml-3">
                                                    <label>
                                                        Description
                                                        <input asp-for="@Model.Attachments.FirstOrDefault()!.Description" type="text" class="form-control" />
                                                    </label><br />
                                                    <label class="btn btn-outline-primary btn-sm">
                                                        <input asp-for="@Model.Attachments.FirstOrDefault()!.FormFile" type="file" class="form-control-file" />
                                                    </label>
                                                    <button type="submit" class="btn btn-outline-secondary btn-sm md-btn-flat">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                }
                                

                                @* Ticket attachments part 2 here *@
                                <hr />
                                <h6>Attachments</h6>
                                <div class="container">
                                    <div class="row">
                                        @foreach (TicketAttachment attachment in Model.Attachments)
                                        {
                                            if (User.Identity.IsAuthenticated)
                                            {
                                                <div class="col col-sm-2">
                                                    <a asp-action="ShowFile" asp-controller="Tickets" asp-route-Id="@attachment.Id">
                                                        <div class="icon">
                                                            <img src="@_BTFileService.GetFileIcon(attachment.FileName!)" style="height:50px;width:50px" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="@attachment.FileName" />
                                                        </div>
                                                    </a>
                                                    <div style="font-size:x-small">
                                                        <div class="file-name">
                                                            <strong>@attachment.Description</strong>
                                                        </div>
                                                        <small>Size: @_BTFileService.FormatFileSize(attachment.FileData!.Length) </small>
                                                    </div>
                                                </div>
                                            }
                                            
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col mt-5 ">
                <div class="bg-primary">
                    <div class="card m-1 p-2">
                        <div class="card-header">
                            <h2>History</h2>
                            <hr />
                        </div>
                        <div class="card-body" style="overflow-y:auto;height:1000px;background-color:antiquewhite">
                            <!-- start: page -->
                            <div class="timeline">
                                <div class="tm-body">
                                    <div class="tm-title">
                                        <h5 class="m-0 pt-2 pb-2 text-dark font-weight-semibold text-uppercase">November 2021</h5>
                                    </div>
                                    <ol class="tm-items">
                                        <li>
                                            <div class="tm-info">
                                                <div class="tm-icon"><i class="fas fa-star"></i></div>
                                                <div class="tm-datetime" datetime="2021-11-22 19:13">
                                                    <div class="tm-datetime-date">7 months ago</div>
                                                    <div class="tm-datetime-time">07:13 PM</div>
                                                </div>
                                            </div>
                                            <div class="tm-box appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="100">
                                                <p>
                                                    It's awesome when we find a good solution for our projects, Porto Admin is <span class="text-primary">#awesome</span>
                                                </p>
                                                <div class="tm-meta">
                                                    <span>
                                                        <i class="bx bx-user-circle"></i> By <a href="#">John Doe</a>
                                                    </span>
                                                    <span>
                                                        <i class="fas fa-tag"></i> <a href="#">Porto</a>, <a href="#">Awesome</a>
                                                    </span>
                                                    <span>
                                                        <i class="fas fa-comments"></i> <a href="#">5652 Comments</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ol>
                                    <div class="tm-title">
                                        <h5 class="m-0 pt-2 pb-2 text-dark font-weight-semibold text-uppercase">September 2021</h5>
                                    </div>
                                </div>
                            </div>
                            <!-- end: page -->
                            @*Loop to show the history entries for the Ticket*@
                           @*@foreach (TicketHistory history in Model.History!)
                            {
                                
                            }*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/ckeditor5/build/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('.editor'), {
                licenseKey: '',
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error('Oops, something went wrong!');
                console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                console.warn('Build id: xx09iayzufkn-lkt434h3lx2z');
                console.error(error);
            });
    </script>



}
