@model IEnumerable<BugHunterBugTrackerZD.Models.Ticket>
@using Microsoft.AspNetCore.Identity
@using BugHunterBugTrackerZD.Services.Interfaces

@inject IBTProjectService _ProjectService
@inject IBTCompanyService _CompanyService

@inject UserManager<BTUser> UserManager



@{
    ViewData["Title"] = "Index";
}

@{
    BTUser? btUser = await UserManager.GetUserAsync(User);

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-lg-12">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div>

                <h2 class="card-title"></h2>
            </header>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-responsive-md table-hover mb-0" id="datatable-default">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Project)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Created) / @Html.DisplayNameFor(model => model.Updated)
                                </th>
                                <th>
                                    Ticket Priority
                                </th>
                                <th>
                                    Ticket Type
                                </th>
                                <th>
                                    Ticket Status
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.DeveloperUser)*@
                                    Developer
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.SubmitterUser)*@
                                    Submitter
                                </th>
                                <th>
                                    Actions
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="projectsIndexTable">
                            @foreach (var item in Model)
                            {
                                if (!item.Archived == true)
                                {
                                    BTUser? projectManager = await _ProjectService.GetProjectManagerAsync(item.ProjectId);
                                    BTUser? admin = await _CompanyService.GetCompanyAdmin(item.Project!.CompanyId, btUser?.Id);

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Project!.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Created)
                                            @if (item.Updated != null)
                                            {
                                                <span class="fw-bold">/</span>  @Html.DisplayFor(modelItem => item.Updated)
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TicketPriority!.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TicketType!.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TicketStatus!.Name)
                                        </td>
                                        <td>
                                            @if (item.DeveloperUser != null)
                                            {
                                                @Html.DisplayFor(modelItem => item.DeveloperUser!.FullName)

                                            }
                                            else
                                            {
                                                <span class="text-danger">Unassigned</span>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SubmitterUser!.FullName)
                                        </td>
                                        <td class="actions-hover actions-fade">
                                            @if (item.DeveloperUserId == UserManager.GetUserId(User) || item.SubmitterUserId == UserManager.GetUserId(User) ||
                                           (btUser?.Id == projectManager?.Id || btUser?.Id == admin.Id))
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Id"> <i class="fas fa-pencil-alt text-warning fa-sm"></i> </a>
                                                <a asp-action="Details" asp-route-id="@item.Id"> <i class="bx bx-detail text-info fa-sm"></i> </a>
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="delete-row"> <i class="far fa-trash-alt text-danger fa-sm"></i> </a>
                                            }
                                            else
                                            {
                                                <a asp-action="Details" asp-route-id="@item.Id" class="d-flex justify-content-center"> <i class="bx bx-detail text-info fa-sm"></i> </a>
                                            }
                                        </td>
                                        <td>
                                            <a asp-action="AssignDeveloper" asp-route-id="@item.Id">Assign Ticket</a>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </section>
    </div>
</div>


@section Scripts {

    <!-- Specific Page Vendor -- Datatables -->
    <script src="~/template/vendor/select2/js/select2.js"></script>
    <script src="~/template/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/template/vendor/datatables/media/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/template/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="~/template/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.bootstrap4.min.js"></script>
    <script src="~/template/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.html5.min.js"></script>
    <script src="~/template/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.print.min.js"></script>
    <script src="~/template/vendor/datatables/extras/TableTools/JSZip-2.5.0/jszip.min.js"></script>
    <script src="~/template/vendor/datatables/extras/TableTools/pdfmake-0.1.32/pdfmake.min.js"></script>
    <script src="~/template/vendor/datatables/extras/TableTools/pdfmake-0.1.32/vfs_fonts.js"></script>

    <!-- Examples -->
    <script src="~/template/js/examples/examples.dashboard.js"></script>
    <script src="~/template/js/examples/examples.datatables.default.js"></script>
    <script src="~/template/js/examples.datatables.tabletools.js"></script>
    @*<script src="~/template/js/examples.datatables.row.with.details.js"></script>*@

    

}






