@model IEnumerable<BugHunterBugTrackerZD.Models.Ticket>

@{
    ViewData["Title"] = "My Tickets";
}

<h1>My Tickets</h1>

<p>
    <a asp-action="Create">Create New Ticket</a>

</p>

<div class="row">
    <div class="col-lg-12">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div>

                <h2 class="card-title"></h2>
            </header>
            <div class="card-body">
                <table class="table table-responsive-md table-hover mb-0" id="datatable-default">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Created)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Updated)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Project)
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.TicketPriority)*@
                                Ticket Priority
                            </th>
                            <th>
                               @* @Html.DisplayNameFor(model => model.TicketType)*@
                               Ticket Type
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.TicketStatus)*@
                                Ticket Status
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.DeveloperUser)*@
                                Developer
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.SubmitterUser)*@
                                Submitter
                            </th>
                            <th>
                                Actions
                            </th>
                            @*<th></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Archived == false)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Updated)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Project!.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketPriority!.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketType!.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketStatus!.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeveloperUser!.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SubmitterUser!.FullName)
                                    </td>
                                    <td colspan="2" class="actions-hover actions-fade">
                                        <a asp-action="Edit" asp-route-id="@item.Id"> <i class="fas fa-pencil-alt text-warning"></i> </a>
                                        <a asp-action="Details" asp-route-id="@item.Id"> <i class='bx bx-detail text-info'></i> </a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="delete-row"> <i class="far fa-trash-alt text-danger"></i> </a>
                                    </td>

                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>


@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchivedByProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPriority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeveloperUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmitterUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Archived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArchivedByProject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project!.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriority!.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType!.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus!.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeveloperUser!.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmitterUser!.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
*@

@section Scripts {
    <!-- Specific Page Vendor -->
    <script src="~/template/vendor/select2/js/select2.js"></script>
    <script src="~/template/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/template/vendor/datatables/media/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/template/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="~/template/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.bootstrap4.min.js"></script>
    <script src="~/template/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.html5.min.js"></script>
    <script src="~/template/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.print.min.js"></script>
    <script src="~/template/vendor/datatables/extras/TableTools/JSZip-2.5.0/jszip.min.js"></script>
    <script src="~/template/vendor/datatables/extras/TableTools/pdfmake-0.1.32/pdfmake.min.js"></script>
    <script src="~/template/vendor/datatables/extras/TableTools/pdfmake-0.1.32/vfs_fonts.js"></script>

    <!-- Examples -->
    <script src="~/template/js/examples/examples.datatables.default.js"></script>
    <script src="~/template/js/examples/examples.datatables.row.with.details.js"></script>
    <script src="~/template/js/examples/examples.datatables.tabletools.js"></script>


    

}
