@model IEnumerable<BugHunterBugTrackerZD.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-lg-12">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div>

                <h2 class="card-title"></h2>
            </header>
            <div class="card-body">
                <table class="table table-bordered table-striped table-responsive-md table-hover mb-0" id="datatable-default">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Created)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Updated)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Project)
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.TicketPriority)*@
                                Ticket Priority
                            </th>
                            <th>
                               @* @Html.DisplayNameFor(model => model.TicketType)*@
                               Ticket Type
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.TicketStatus)*@
                                Ticket Status
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.DeveloperUser)*@
                                Developer
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.SubmitterUser)*@
                                Submitter
                            </th>
                            <th>
                                Actions
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Archived == false)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Updated)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Project!.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketPriority!.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketType!.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketStatus!.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeveloperUser!.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SubmitterUser!.FullName)
                                    </td>
                                    
                                    <td class="actions-hover actions-fade">
                                        <a asp-action="Edit" asp-route-id="@item.Id"> <i class="fas fa-pencil-alt text-warning fa-sm"></i> </a>
                                        <a asp-action="Details" asp-route-id="@item.Id"> <i class="bx bx-detail text-info fa-sm"></i> </a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="delete-row"> <i class="far fa-trash-alt text-danger fa-sm"></i> </a>
                                    </td>
                                    <td>
                                        <a asp-action="AssignTicketToUser" asp-route-id="@item.Id">Assign Ticket</a>
                                    </td>

                                </tr>
                            }

                        }

                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>







                                        