@model BugHunterBugTrackerZD.Models.Company
@using BugHunterBugTrackerZD.Services.Interfaces

@inject IBTProjectService _ProjectService

@{
    ViewData["Title"] = "Details";
}



<div class="container-fluid">
    <div class="row gy-2">
        <div class="col">
            <div class="row bg-primary">
                <div class="card col m-1 p-2">
                    <div class="card-body">
                        @* Company Name *@
                        <h2 class="fw-bold">@Model.CompanyName</h2>
                        @* Company Description *@
                        <h5>@Model.CompanyDescription</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row gy-2">
        <div class="col-12 col">
            <div class="col text-center">
                <h3 class="lead mt-5 fw-bold">Projects</h3>
            </div>
            <div class="row bg-primary">
                <div class="card col m-1 p-2">
                    <div class="card-body">
                        <div class="table-responsive">
                            @*Table Goes Here*@
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Project Name</th>
                                        <th>Project Manager</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Tickets</th>
                                        <th>Members</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Project project in Model.Projects)
                                    {
                                        <tr>
                                            <td>
                                                @project.Name
                                            </td>
                                            @if (await _ProjectService.GetProjectManagerAsync(project.Id) != null)
                                            {
                                                string? projectManager = (await _ProjectService.GetProjectManagerAsync(project.Id)).FullName;

                                                <td>@projectManager</td>
                                            }
                                            else
                                            {
                                                <td class="text-danger">Unassigned</td>
                                            }
                                            <td>
                                                @Html.DisplayFor(model => project.StartDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => project.EndDate)
                                            </td>
                                            <td>
                                                @project.Tickets.Count()
                                            </td>
                                            <td>
                                                @project.Members.Count()
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                @*<div class="card col m-1 p-2">
                <div class="card-body">

                </div>
                </div>*@
            </div>
        </div>
        <div class="col-12 col mt-5 ">
            <div class="bg-primary">
                <div class="card m-1 p-2">
                    <div class="">
                        <h2>Company Members</h2>
                        <hr />
                    </div>
                    <div class="card-body" style="overflow-y:auto;height:300px;">
                        <ul class="right_chat list-unstyled mb-0 text-dark">
                            @* Logic for avatars *@
                            @foreach (BTUser member in Model.Members)
                            {
                                @* TODO: Add if() statement for adding avatar next to name using imageFormFile *@
                                <li>
                                    <figure class="profile-picture">
                                        @*@if (member.ImageFormFile != null)
                                    {

                                    }*@
                                        <img src="/img/DefaultUserImage.png" alt="@member?.FullName" class="rounded-circle" data-lock-picture="/img/DefaultUserImage.png" height="35" />
                                        <span class="name ms-2">@member?.FullName</span>
                                    </figure>

                                </li>
                                @*<li class="text-dark">
                            @member.FullName
                            </li>*@
                            }
                        </ul>

                    </div>
                </div>

            </div>
        </div>
        @* <div class="col-12 col">
        <div class="mt-5 bg-primary">
        <div class="card m-1 p-2">
        <div class="">
        <h2>Tickets</h2>
        </div>
        </div>

        </div>
        </div>*@
    </div>
</div>





@*<table class="table table-striped">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Project Manager</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Tickets</th>
            <th>Members</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Project project in Model.Projects)
        {

            <tr>
                <td>
                    @project.Name
                </td>
                @if (await _ProjectService.GetProjectManagerAsync(project.Id) != null)
                {
                    string? projectManager = (await _ProjectService.GetProjectManagerAsync(project.Id)).FullName;

                    <td>@projectManager</td>
                }
                else
                {
                    <td class="text-danger">Unassigned</td>
                }
                <td>
                    @project.StartDate
                </td>
                <td>
                    @project.EndDate
                </td>
                <td>
                    @project.Tickets.Count()
                </td>
                <td>
                    @project.Members.Count()
                </td>

            </tr>
        }
    </tbody>
</table>*@
